Source: pve-qemu-kvm
Section: admin
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 5), autotools-dev, libpci-dev, quilt, texinfo, texi2html, libgnutls-dev, libsdl1.2-dev, check, libaio-dev, uuid-dev, librbd-dev (>= 0.48), libiscsi-dev (>= 1.5.0), libspice-protocol-dev (>= 0.12.5), pve-libspice-server-dev (>= 0.12.4), libusbredirhost-dev (>= 0.6-2)
Standards-Version: 3.7.2

Package: pve-qemu-kvm
Architecture: any
Depends: iproute, bridge-utils, python, libsdl1.2debian, libaio1, libuuid1, ceph-common (>= 0.48), libiscsi1 (>= 1.5.0), pve-libspice-server1 (>= 0.12.3), ${shlibs:Depends}, ${misc:Depends}, libusbredirhost1 (>= 0.6-2)
Conflicts: qemu, qemu-kvm, kvm, pve-kvm, pve-qemu-kvm-2.6.18
Replaces: pve-kvm, pve-qemu-kvm-2.6.18
Description: Full virtualization on x86 hardware
 Using KVM, one can run multiple virtual PCs, each running unmodified Linux or
 Windows images. Each virtual machine has private virtualized hardware: a
 network card, disk, graphics adapter, etc. 
